
/*for smartphone */
@media only screen and (min-width: 0px) 
 { body { background-color: #ff0000;

} 
 }

/*for tablette*/
@media only screen and (min-width: 300px) and (max-width: 768px) 
{
    body
    { background-color: green;
        
    }
 body #small { font-size: 0.333em;

  }
 body #medium{font-size: 0.66em;

  }
 body #large {font-size: 1em;

  }

} 


/*for desktop*/
@media only screen and (min-width: 768px) 
{ 
 body { background-color: blue;
    display: flex;
    flex-direction: row;
    }

    body #smal #medium #large{
        font-size: large;
     }
 

} 

